<h1> Best Buy Stores </h1>

<h2><%= @stores.count %> Total Stores </h2>

<% @stores.each do |store| %>
<div class="store">
  <h3><%= store.long_name %></h3>
    <ul>
      <li><%= store.city %></li>
      <li><%= store.distance %></li>
      <li><%= store.phone_number %></li>
      <li><%= store.store_type %></li>
    </ul>
</div>
<% end %>
